<footer class="bg-danger text-center text-white position-relative">
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <abbr title="Facebook"> <a
        class="btn text-white btn-floating m-1"
        style="background-color: #3b5998;"
        href="#!"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a></abbr>

      <!-- Twitter -->
      <abbr title="Twitter"><a
        class="btn text-white btn-floating m-1"
        style="background-color: #55acee;"
        href="#!"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a></abbr>

      <!-- Google -->
      <abbr title="Google"><a
        class="btn text-white btn-floating m-1"
        style="background-color: #dd4b39;"
        href="#!"
        role="button"
        ><i class="fab fa-google"></i
      ></a></abbr>

      <!-- Instagram -->
      <abbr title="Instagram"><a
        class="btn text-white btn-floating m-1"
        style="background-color: #ac2bac;"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a></abbr>

      <!-- Linkedin -->
     <abbr title="Linkedin"> <a
        class="btn text-white btn-floating m-1"
        style="background-color: #0082ca;"
        href="#!"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a></abbr>
      <!-- Github -->
      <abbr title="GitHub"><a
        class="btn text-white btn-floating m-1"
        style="background-color: #333333;"
        href="#!"
        role="button"
        ><i class="fab fa-github"></i
      ></a></abbr>
    </section>
    <!-- Section: Social media -->

  <!-- Grid container -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Encuentra las últimas novedades</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" placeholder="Tu correo electronico" />
              <label class="form-label" for="form5Example21"></label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribete YA!
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        El corazón nos dicta emociones. Si conseguimos controlar éstas y encaminarlas en unos cauces adecuados,
        cambiaremos el corazón a otros. <br> <i>Séneca, 328 a.C</i>
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">AYUDA</h5>

          <ul class="list-unstyled mb-0">
            <li>
                                          <a href="#!" class="text-white">Contacto</a>
            </li>
            <li>
              <a href="#!" class="text-white">FAQ</a>
            </li>
            <li>
              <a href="#!" class="text-white">Condiciones generales</a>
            </li>
            <li>
              <a href="#!" class="text-white">Librerías</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">SERVICIOS</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Alertas</a>
            </li>
            <li>
              <a href="#!" class="text-white">Seguimiento</a>
            </li>
            <li>
              <a href="#!" class="text-white">Campus</a>
            </li>
            <li>
              <a href="#!" class="text-white"> Mi cuenta</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">CATÁLOGO</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Oposiciones</a>
            </li>
            <li>
              <a href="#!" class="text-white">Libros de Texto</a>
            </li>
            <li>
              <a href="#!" class="text-white">Certificados Profesionalidad</a>
            </li>
            <li>
              <a href="#!" class="text-white">Ayuda online</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">FOROS</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Clases particulares</a>
            </li>
            <li>
              <a href="#!" class="text-white">Profesores actuales</a>
            </li>
            <li>
              <a href="#!" class="text-white">Clases Online</a>
            </li>
            <li>
              <a href="#!" class="text-white">Temas de Interés</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="#">Jose Antonio Fuentes</a>
  </div>
</footer>
